<!DOCTYPE html>
<html ng-app="HEX">

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>
        <div class="jumbotron">
            <div class="container">
                <h1 class="text-center">
                       <span class="glyphicon glyphicon-grain"></span> Hexagonal Tree
                </h1>
                <h3 class="text-center">
                    Service for everyone
                </h3>
            </div>

        </div>
</body>

</html>