<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="container">
      <form action="/process/test/test" method="POST">
          <input name="test" type="text">
          <button type="submit">Translate</button>
      </form>
  </div>

</div>


</body>
</html>
